@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Fredoka', sans-serif;

    min-height: 100vh;

    background: #13cddd;

    color: #17205b;
}


.townsville-bg {

    position: fixed;

    inset: 0;

    overflow: hidden;

    z-index: -2;

    background:
        linear-gradient(#12cddd 0%,
            #27d9e4 65%,
            #8eeaf0 100%);

}

.logo {
    position: absolute;
    left: 30px;
    top: -25px;
    z-index: 10;
}

.logo img {
    width: 180px;
    height: 140px;
    display: block;
}


.cloud {

    position: absolute;

    width: 180px;
    height: 55px;

    background: #fffde9;

    border-radius: 100px;

    opacity: .9;

}


.cloud::before,
.cloud::after {

    content: "";

    position: absolute;

    background: #fffde9;

    border-radius: 50%;

}


.cloud::before {

    width: 80px;
    height: 80px;

    left: 30px;
    bottom: 10px;

}


.cloud::after {

    width: 65px;
    height: 65px;

    right: 30px;
    bottom: 5px;

}


.cloud1 {

    top: 70px;
    left: 30px;

}


.cloud2 {

    top: 90px;
    right: 70px;

    transform: scale(1.2);

}


.cloud3 {

    bottom: 30px;
    left: -30px;

    transform: scale(.8);

}


.building {

    position: absolute;

    bottom: 0;

    width: 100px;

    background: #20bcd3;

    border: 3px solid #1597ba;

}


.building::after {

    content: "";

    position: absolute;

    inset: 15px;

    background:
        repeating-linear-gradient(to bottom,
            #a9edf1 0 12px,
            transparent 12px 25px);

}


.building1 {

    left: 2%;

    height: 45%;

    background: #f3c86b;

}


.building2 {

    left: 14%;

    height: 65%;

}


.building3 {

    left: 25%;

    height: 35%;

    background: #f28ab3;

}


.building4 {

    right: 15%;

    height: 60%;

    background: #f3ca61;

}


.building5 {

    right: 3%;

    height: 42%;

    background: #ed83b0;

}



header {
    width: 70%;
    max-width: 1250px;

    height: 90px;

    margin: 35px auto 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    background: linear-gradient(#ff8bb3,
            #ff7da9);

    border: 4px solid #1c2259;

    padding: 0 30px;
}


.logo {
    position: absolute;

    left: 35px;
    top: -25px;

    width: 190px;

    text-decoration: none;

    transform: rotate(-3deg);

    z-index: 10;
}


.logo-tiny {

    display: block;

    color: #ff70a4;

    font-size: 50px;

    line-height: .75;

    font-weight: 700;

    -webkit-text-stroke: 3px #171d5b;

    text-shadow:
        3px 3px 0 white;

}


.logo-trouble {

    display: block;

    color: #55df50;

    font-size: 38px;

    line-height: .9;

    font-weight: 700;

    -webkit-text-stroke: 3px #171d5b;

    text-shadow:
        3px 3px 0 white;

}


.logo small {

    position: absolute;

    right: 0;

    top: 20px;

    font-size: 13px;

    color: #1c2259;

    font-weight: 700;

}


nav {
    display: flex;

    align-items: center;

    justify-content: flex-end;

    gap: 18px;

    margin-right: 35px;
}


nav a {
    text-decoration: none;

    color: #1c2259;

    font-size: 13px;

    font-weight: 600;

    transition: 0.2s;
}


nav a:hover {
    color: white;

    transform: translateY(-2px);
}

.dropdown {
    position: relative;
}


.dropbtn {
    cursor: pointer;
}



.dropdown-menu {

    position: absolute;

    top: 100%;
    left: 50%;

    transform:
        translateX(-50%) translateY(10px);

    width: 180px;

    background: #fff;

    border: 3px solid #1c2259;

    border-radius: 0 0 12px 12px;

    box-shadow:
        4px 5px 0 rgba(28, 34, 89, .25);

    padding: 7px;

    opacity: 0;

    visibility: hidden;

    transition:
        .2s ease;

    z-index: 100;
}



.dropdown:hover .dropdown-menu {

    opacity: 1;

    visibility: visible;

    transform:
        translateX(-50%) translateY(0);

}



.dropdown-menu a {

    display: block;

    padding: 10px 12px;

    color: #1c2259;

    text-decoration: none;

    font-size: 12px;

    font-weight: 600;

    border-radius: 7px;

    transition: .2s;

}



.dropdown-menu a:nth-child(1):hover {

    background: #ff9bc4;

    color: #1c2259;

}


.dropdown-menu a:nth-child(2):hover {

    background: #82e5f0;

    color: #1c2259;

}


.dropdown-menu a:nth-child(3):hover {

    background: #8ee89b;

    color: #1c2259;

}


.dropdown-menu a:nth-child(4):hover {

    background: #aaa3f2;

    color: #1c2259;

}


.star {

    position: absolute;

    right: 25px;

    top: 10px;

    color: #ffe72e;

    font-size: 38px;

    text-shadow:
        2px 2px #1c2259;

}


/* =========================================
   COLLAGE
========================================= */

.collage {

    margin-top: 40px;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 35px;

    position: relative;
}


/* =========================================
   MEMBER CARDS
========================================= */

.member {

    padding: 18px;

    border: 5px solid #222;

    display: flex;

    align-items: center;

    gap: 20px;

    min-height: 250px;

    box-shadow: 8px 8px 0 #222;

    transition: 0.3s;
}

.member:hover {

    transform:
        translateY(-8px)
        rotate(-1deg);
}


/* COLORS */

.card-pink {

    background: #ff7eb9;

    transform: rotate(-2deg);
}

.card-blue {

    background: #75d8ff;

    transform: rotate(2deg);
}

.card-green {

    background: #82e68c;

    transform: rotate(2deg);
}

.card-purple {

    background: #c99cff;

    transform: rotate(-2deg);
}


/* =========================================
   PHOTO
========================================= */

.photo {

    width: 150px;

    height: 150px;

    min-width: 150px;

    background: #eee;

    border: 5px solid #222;

    display: flex;

    align-items: center;

    justify-content: center;

    overflow: hidden;

    transform: rotate(-3deg);
}

.photo img {

    width: 100%;

    height: 100%;

    object-fit: cover;
}


/* =========================================
   MEMBER INFO
========================================= */

.info h2 {

    font-family: Impact, sans-serif;

    font-size: 30px;
}

.nickname {

    font-size: 18px;

    font-weight: bold;

    color: #d81b60;

    margin: 5px 0 15px;
}

.info p {

    font-size: 15px;

    line-height: 1.4;
}


/* =========================================
   CENTER DESIGN
========================================= */

.center-piece {

    position: absolute;

    left: 50%;

    top: 50%;

    transform:
        translate(-50%, -50%);

    z-index: 5;

    text-align: center;

    pointer-events: none;
}

.cloud {

    background: white;

    border: 5px solid #222;

    padding: 12px 25px;

    font-family: Impact, sans-serif;

    font-size: 28px;

    transform: rotate(-8deg);

    box-shadow: 5px 5px 0 #222;
}

.heart {

    font-size: 55px;

    color: #e91e63;

    -webkit-text-stroke: 3px #222;

    margin-top: 5px;
}

.center-piece p {

    font-family: Impact, sans-serif;

    font-size: 18px;

    letter-spacing: 2px;
}


/* =========================================
   OUR TEAM
========================================= */

.about-box {

    margin-top: 55px;

    padding: 25px;

    border: 5px solid #222;

    background: #fff36b;

    box-shadow: 8px 8px 0 #222;

    transform: rotate(1deg);

    text-align: center;
}

.about-box h2 {

    font-family: Impact, sans-serif;

    font-size: 35px;

    margin-bottom: 12px;
}

.about-box p {

    max-width: 800px;

    margin: auto;

    line-height: 1.6;

    font-size: 17px;
}


/* =========================================
   TAGS
========================================= */

.tags {

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 12px;

    margin-top: 20px;
}

.tags span {

    background: white;

    border: 3px solid #222;

    padding: 8px 15px;

    font-weight: bold;

    box-shadow: 4px 4px 0 #222;
}


/* =========================================
   FOOTER
========================================= */

footer {

    margin-top: 40px;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 25px;

    padding: 10px;

    border-top: 5px dashed #222;

     font-size: 11px;
}

.mojo-circle {

    width: 90px;

    height: 90px;

    background: #7b42b9;

    border: 4px solid #222;

    border-radius: 50%;

    color: white;

    display: flex;

    align-items: center;

    justify-content: center;

    text-align: center;

    font-family: Impact, sans-serif;

    font-size: 17px;

    transform: rotate(-8deg);

    box-shadow: 5px 5px 0 #222;
}


/* =========================================
   RESPONSIVE
========================================= */
@media (max-width: 900px) {

    .website {

        max-width: 96%;

    }


    header {

        padding-left: 190px;

    }


    nav {

        gap: 8px;

    }


    nav a {

        font-size: 10px;

    }


    .logo {

        left: 15px;

    }


    .character-grid {

        height: auto;

    }


    .character-image {

        height: 210px;

    }


    .team-grid {

        grid-template-columns:
            repeat(2, 1fr);

    }

}


@media (max-width: 650px) {

    .website {

        margin-top: 15px;

    }


    header {

        height: auto;

        min-height: 130px;

        padding: 65px 10px 10px;

        justify-content: center;

    }


    .logo {

        top: 5px;

        left: 50%;

        transform:
            translateX(-50%) scale(.7);

    }


    nav {

        flex-wrap: wrap;

        justify-content: center;

    }


    nav a {

        font-size: 10px;

    }


    .star {

        display: none;

    }


    .hero {

        min-height: auto;

    }


    .hero-title {

        padding: 25px 15px;

    }


    .hero-title h1 {

        font-size: 23px;

    }


    .character-grid {

        grid-template-columns:
            1fr 1fr;

    }


    .character-card {

        padding-bottom: 20px;

    }


    .character-image {

        height: 180px;

    }


    .character-image img {

        max-height: 170px;

    }


    .team {

        padding: 25px 15px;

    }


    .team-grid {

        grid-template-columns: 1fr;

    }

}
